<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>

<form th:action="@{/createUser}" method="POST">
    <label for="username">Name:</label>
    <input type="text" id="username" name="username" required placeholder="Enter username"/><br>


    <label for="age">Age</label>
    <input type="text" id="age" name="Age" required placeholder="Enter age"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required placeholder="Enter password"/><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required placeholder="Enter email"/><br>

    <div class="form-group row">
        <label class="col-4 col-form-label">Roles: </label>
        <div class="col-8">
            <label>
                <input type="checkbox"
                       th:each="roles : ${role_all}"
                       th:field="*{user.roles}"
                       th:text="${roles.name.replaceAll('ROLE_', '')}"
                       th:value="${roles.id}"
                       class="m-2"/>
            </label>
        </div>
    </div>

    <button type="submit">Save</button>
    <a class="btn" href="/index">Назад</a>
</form>
<div sec:authorize="isAuthenticated()">
    <a href="/logout">Выход</a>
</div>
</body>
</html>