<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <a href="/logout">Выход</a>
</div>

<p>Logged user: <span sec:authentication="name"></span></p>
<p>Roles: <span sec:authentication="principal.authorities"></span></p>


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr sec:authorize="isAuthenticated()" th:each="user : ${listUsers}">
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.email}">Email</td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${user.roles}">Roles(Only Admin)</td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/update(id=${user.id})}">More(Only Admin)</a>
        </td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
    <a class="btn" href="/createUser">Add New User(Only Admin)</a>
</div>

<div class="links">

    <br>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin">My Profile</a><br>
    </div>
    <br>
    <div sec:authorize="hasRole('ROLE_USER')">
        <a href="/user">My Profile</a><br>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="http://localhost:8080/logout">Logout</a>
    </div>
</div>
</body>
</html>