<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
</head>
<body>
<h2>Вход</h2>
<form th:action="@{/login}" method="post">
  <label for="username">Логин:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Войти</button>
</form>

<br>

<!-- Кнопка "Зарегистрироваться" -->
<form th:action="@{/createUser}" method="get">
  <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>