<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Профиль пользователя</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h2 class="centered">Профиль пользователя</h2>

  <div class="profile-card">
    <div class="profile-item">
      <strong>Имя:</strong> <span th:text="${user.name}"></span>
    </div>
    <div class="profile-item">
      <strong>Должность:</strong> <span th:text="${user.jobFunction}"></span>
    </div>
    <div class="profile-item">
      <strong>Возраст:</strong> <span th:text="${user.age}"></span>
    </div>
    <div class="profile-item">
      <strong>Роль:</strong> <span th:text="${user.roles.get(0).name}"></span>
    </div>
  </div>

  <form th:action="@{/logout}" method="post">
    <button type="submit" class="logout">Выйти</button>
  </form>
</div>

</body>
</html>